@using Messenger.Tools
@model Messenger.WebApp.Models.ViewModels.ChatDetailsViewModel

<!-- header starts -->
<header class="image-header-panel ratio_40 p-0 overflow-clip">
    <img class="bg-img group-head-bg" src="~/chatzy/assets/images/background/group-bg.png" alt="">

    <div class="header-panel position-fixed">
        <a href="#" id="close-group-info-panel-btn">
            <i class="iconsax icon-btn" data-icon="chevron-left"></i>
        </a>

        @* TODO: Settings link can be added later if needed *@
        @* <a href="group-info-setting.html">
            <i class="iconsax icon-btn" data-icon="nut"></i>
        </a> *@
    </div>

    <div class="name-panel">
        <div>
            <h2 class="fw-semibold text-white">@Model.GroupName <img src="~/chatzy/assets/images/svg/ring.svg" alt="ring"></h2>
            <h5>تعداد اعضا:  @Model.Members.Count() </h5>
        </div>
        @* TODO: Edit details modal can be implemented later *@
        @* <a href="#edit-details" data-bs-toggle="modal">
            <i class="iconsax icon" data-icon="edit-1"></i>
        </a> *@
    </div>
</header>
<!-- header end -->

<!-- group info section starts -->
<section class="section-b-space">
    <div class="custom-container">
        

        <div class="group-details">
            <h6>جزییات گروه : @Model.GroupName</h6>
            <p>@Model.GroupDescription</p>
        </div>

        <div class="file-part">
            <ul class="file-list">
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#groupFilesModal" data-tab="media-tab">
                        <h5>Media Files (@Model.MediaFilesCount)</h5>
                        <i class="iconsax icon" data-icon="chevron-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#groupFilesModal" data-tab="docs-tab">
                        <h5>Document Files (@Model.DocumentFilesCount)</h5>
                        <i class="iconsax icon" data-icon="chevron-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#groupFilesModal" data-tab="links-tab">
                        <h5>Link Files (@Model.LinkFilesCount)</h5>
                        <i class="iconsax icon" data-icon="chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="members-part">
            <div class="member-title">
                <h5>Total People</h5>
                <span>@Model.Members.Count() People</span>
            </div>
            <ul class="members-list">
                @foreach (var member in Model.Members)
                {
                    <li>
                        <div class="member-box">
                            <div class="member-details">
                                <div class="position-relative chat-list-image" id="member-status-@member.UserId">
                                    <img class="img-fluid img position-relative" src="/assets/media/avatar/@member.ImagePath?.TrimStart('/')" alt="p1">
                                    @if (member.RoleName == ConstRoles.Teacher)
                                    {
                                        <div class="admin-tag">T</div>
                                    }
                                   
                                </div>
                                <div>
                                    <h5>@member.FullName</h5>
                                    <h6 class="status-online">@member.Status <img src="~/chatzy/assets/images/svg/smiling-eyes.svg" alt="status-icon"></h6>
                                    @* <h6>member qoute : Happy Ever After </h6> *@
                                </div>
                            </div>
                            @* TODO: Member options can be implemented later *@
                            @* <a href="#option" data-bs-toggle="modal">
                                <i class="iconsax icon-btn" data-icon="menu-meatballs"> </i>
                            </a> *@
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!-- group info section end-->
