@using Messenger.Tools
@model UserChatModel

@{
    var classGroups = Model.Groups;
    var channels = Model.Channels;
}

<!-- Saved Messages Item -->
<li>
    <a class="chat-list-box" onclick="GetSavedMessages()" style="cursor: pointer;">
        <div class="chat-list-image">
            <i class="iconsax icon-btn" data-icon="save-2"> </i>
        </div>
        <div class="chat-details">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="name">پیامهای ذخیره شده</h5>
            </div>
            <div dir="rtl" class="content">
                <p>پیام های ذخیره شده</p>
            </div>
        </div>
    </a>
</li>


<!-- Chat Groups Items -->
@if (classGroups != null)
{
    foreach (var item in classGroups)
    {
       
        <li id="@(ConstChat.ClassGroup + item.ClassId)">
            <a class="chat-list-box" onclick="GetSelectedChatMessages(@item.ClassId, '@ConstChat.ClassGroupType', @item.LastReadMessageId)" style="cursor: pointer;">
                <input type="hidden" value="@item.LastReadMessageId" id="LastReadMessageIdOnChatList" />
                <div class="chat-list-image">
                    <i class="iconsax icon-btn" data-icon="group-icon"> </i>
                </div>
                <div class="chat-details">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="name">@item.LevelName <span> [ @item.ClassTiming ]</span></h5>
                        <h6 id="chatTime_@(ConstChat.ClassGroup + item.ClassId)">@item.LastMessage?.SentAt.ToString("hh:mm")</h6>
                    </div>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between gap-2">
                            <p dir="rtl" class="text-truncate is-rtl" id="chatText_@(ConstChat.ClassGroup + item.ClassId)">
                                <span>@item.LastMessage?.SenderName:</span> @item.LastMessage?.Text
                            </p>
                            <div class="count @(item.UnreadCount == 0 ? "d-none" : "")" id="unreadCountBadge_@(ConstChat.ClassGroup + item.ClassId)">
                                @item.UnreadCount
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    }
}

<!-- Channel Items -->
@if (channels != null)
{
    foreach (var item in channels)
    {
        if (item == null) { continue; }
        <li id="@(ConstChat.ChannelGroup + item.ChannelId)">
            <a class="chat-list-box" onclick="GetSelectedChatMessages(@item.ChannelId, '@ConstChat.ChannelGroupType',@item.LastReadMessageId)" style="cursor: pointer;">
                @* <input type="hidden" value="@item.LastReadMessageId" id="LastReadMessageIdOnChatList" /> *@
                <div class="chat-list-image">
                    <i class="iconsax icon-btn" data-icon="channel-icon"> </i>
                </div>
                <div class="chat-details">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 dir="rtl" class="name">@item.ChannelName</h5>
                        <h6 id="chatTime_@(ConstChat.ChannelGroup + item.ChannelId)">
                            @if (item.LastMessage != null)
                            {
                                @item.LastMessage?.SentAt.ToString("hh:mm")
                            }
                        </h6>
                    </div>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between gap-2">
                            <p class="text-truncate" id="chatText_@(ConstChat.ChannelGroup + item.ChannelId)">
                                @if (item.LastMessage != null)
                                {
                                    <span>@item.LastMessage?.SenderName:</span>
                                    @item.LastMessage?.Text
                                }
                            </p>
                            <div class="count @(item.UnreadCount == 0 ? "d-none" : "")" id="unreadCountBadge_@(ConstChat.ChannelGroup + item.ChannelId)">
                                @item.UnreadCount
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    }
}
